<h1> Manage your Account </h1>
<div id="<%= dom_id account %>">
  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Owned by:</strong>
    <%= account.user.name %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= account.account_type.name %>
  </p>

</div>
