<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to homepage", root_path %><br>

  <br>
  <%= button_to "Manage Overdraft", overdraft_path(@account.overdraft.id), method: :get %><br>
  <%= button_to "Pay Someone", new_transaction_path(@account.id), method: :get %><br>
  <%= button_to "My Transactions", transactions_path, method: :get %><br>
  <%= button_to "Get Bank Statement", bank_statement_path(@account.id), method: :get %>
</div>
